<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beerapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    
        <permission
        android:name="com.example.beerapp.LAUNCHACTIVITY"
        android:description="@string/permission_launch_activity"
        android:label="Launch Tic-Tac-Toe Activity"
        android:protectionLevel="normal" />
    
        
    <uses-permission android:name="com.vogella.android.locationapi.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
         <activity
            android:name="com.example.beerapp.SplashScreen"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.beerapp.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            
        </activity>
        
       
        
        <activity
            android:name="com.example.beerapp.Beer"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
            	<action android:name="com.example.beerapp.Beer" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.beerapp.MapPape"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
            	<action android:name="com.example.beerapp.MapPage" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.beerapp.Settings"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
            	<action android:name="com.example.beerapp.Settings" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.beerapp.NewUser"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
            	<action android:name="com.example.beerapp.NewUser" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
		</activity>

            <activity
	            android:name="com.example.beerapp.AddBeverage"
	            android:label="@string/app_name"
	            android:launchMode="standard"
	            android:theme="@style/FullscreenTheme" >
	            <intent-filter>
	            	<action android:name="com.example.beerapp.AddBeverage" />
	            	<category android:name="android.intent.category.DEFAULT" />
	            </intent-filter>
	        </activity>
            
         <activity
            android:name="com.example.beerapp.MainActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
            	<action android:name="com.example.beerapp.MainActivity" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.beerapp.Login"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
            	<action android:name="com.example.beerapp.Login" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.beerapp.SingleBeer"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
            	<action android:name="com.example.beerapp.SingleBeer" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                	
        <activity android:name=".SearchableActivity" >
        	<intent-filter>
            <action android:name="android.intent.action.SEARCH" />
        	</intent-filter>
       	 	<meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable"/>
    	</activity>
    	<uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAUlkgL6UcrADywAU6aEQ_d0og7TlDmhKE" />
    </application>

</manifest>
