<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beerapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />
    
        <permission
        android:name="com.example.beerapp.LAUNCHACTIVITY"
        android:description="@string/permission_launch_activity"
        android:label="Launch beerapp Activity"
        android:protectionLevel="normal" />
        
        <permission
        android:name="com.example.beerapp.android.locationapi.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    
        <uses-permission android:name="com.example.beerapp.android.locationapi.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
<!-- The following two permissions are not required to use
     Google Maps Android API v2, but are recommended. -->
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <meta-data
   			android:name="com.google.android.maps.v2.API_KEY"
   			android:value="AIzaSyCc-6qLhGyPJcdt_8PX4zDwoark0UlQocM"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        
         <activity
            android:name="com.example.beerapp.SplashScreen"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.beerapp.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            
        </activity>
        
       
        
        <activity
            android:name="com.example.beerapp.Beer"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
            	<action android:name="com.example.beerapp.Beer" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.beerapp.Wine"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
            	<action android:name="com.example.beerapp.Wine" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.beerapp.Liquor"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
            	<action android:name="com.example.beerapp.Liquor" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.beerapp.Location"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
            	<action android:name="com.example.beerapp.Location" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.beerapp.Settings"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
            	<action android:name="com.example.beerapp.Settings" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.beerapp.NewUser"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
            	<action android:name="com.example.beerapp.NewUser" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
		</activity>

            <activity
	            android:name="com.example.beerapp.AddBeer"
	            android:label="@string/app_name"
	            android:launchMode="standard"
	            android:theme="@style/FullscreenTheme" >
	            <intent-filter>
	            	<action android:name="com.example.beerapp.AddBeer" />
	            	<category android:name="android.intent.category.DEFAULT" />
	            </intent-filter>
	        </activity>
	        
            <activity
	            android:name="com.example.beerapp.AddLiquor"
	            android:label="@string/app_name"
	            android:launchMode="standard"
	            android:theme="@style/FullscreenTheme" >
	            <intent-filter>
	            	<action android:name="com.example.beerapp.AddLiquor" />
	            	<category android:name="android.intent.category.DEFAULT" />
	            </intent-filter>
	        </activity>
	        
            <activity
	            android:name="com.example.beerapp.AddWine"
	            android:label="@string/app_name"
	            android:launchMode="standard"
	            android:theme="@style/FullscreenTheme" >
	            <intent-filter>
	            	<action android:name="com.example.beerapp.AddWine" />
	            	<category android:name="android.intent.category.DEFAULT" />
	            </intent-filter>
	        </activity>
            
         <activity
            android:name="com.example.beerapp.MainActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
            	<action android:name="com.example.beerapp.MainActivity" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.beerapp.Login"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
            	<action android:name="com.example.beerapp.Login" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.beerapp.SingleBeer"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
            	<action android:name="com.example.beerapp.SingleBeer" />
            	<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                	
        <activity android:name=".SearchableActivity" >
        	<intent-filter>
            <action android:name="android.intent.action.SEARCH" />
        	</intent-filter>
       	 	<meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable"/>
    	</activity>
    	<uses-library android:name="com.google.android.maps" />
		
        
          </application>
          
    

</manifest>
